<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JF_QUIZ_CHALLENGE || JF_QUIZ</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <article class="article_quiz">

        <div id="hide"></div>
        <!--Em caso de erro na escolha da opção correta, irá exibir, por meio do js, esse model_-->
        <section id="Error_field">
            <h2>Voce errou!</h2>
            <h4 id="right_answer">Resposta correta: </h4>
            <div>
                <a href="">Ver Justificativa</a>
                <a href="">Voltar as opções</a>
                <a href="">Reiniciar</a>
            </div>
        </section>
    <!--Esse model irá exibir a justificativa daquela oção correta_-->
    <!-- <section class="Justify_error" id="Justify_error"></section> -->

        <section class="menu">
            <p class="p_categoria" id="p_cat">
            <div >
                <img src="../public/images/moeda.png" alt="">
                <p id="p_points" class="points">0</p>
            </div>
            </p>
            <span class="contador" id="cronometry"></span>
        </section>

        <section class="campo_text"><p id="p_text"></p></section>

        <section class="buttons"></section>

        <a href="../index.html"><img src="../public/images/sair.gif" alt="Sair"></a>
        <button class="btn_prox" id="btn_next">Próximo</button>

    </article>
    <footer>Desenvolvedor <p>Jefferson Felipe</p></footer>

    <script type="module" src="../src/Quiz.js"></script>
</body>
</html>