<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JF_QUIZ_CHALLENGE || JF_QUIZ</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="field">
        <p id="p_nome">Jogador: </p>
        <p id="categoria">Categoria: </p>
    </div>
    <article class="article_start">

        <section class="container_start">
            <h3>JF_QUIZ_CHALLENGE!</h3>
            <div class="ancs">
                
                <a id="start_quiz">Jogar</a>

                <a href="../index.html">Voltar</a>
            </div>
        </section>
    </article>
    <script type="module" src="../src/Start.js"></script>
</body>
</html>